@model ScreeningTesterWebSite.Models.ModelBase

@{
    <p>
        @Html.ActionLink(
            linkText: "Back To Unit Test Page",
            actionName: "PWSUnitTestPageReturn",
            controllerName: "PWSUnitTest",
            routeValues: new
            {
                coID = Model.CoID,
                loID = Model.LoID,
                envCode = Model.EnvironCode,
                languageid = Model.LanguageID,
                block = Model.EncryptedUserName,
                section = Model.EncryptedUserPW
            },
            htmlAttributes: null
                )
    </p>
}
